<br>
<div class="container">
  <div class="row">
  <div class="col-md-4 col-md-offset-4">
      <div class="card-show text-center padded">
        <strong><%= @cocktail.name %></strong>
        <br>
        <br>
        <%= cl_image_tag @cocktail.photo, height: 200, crop: :fill, class: "center-block" %>
        <br>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
          <% end %>
        </ul>
        <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %> |
        <%= link_to 'Edit name', edit_cocktail_path(@cocktail) %> |
        <%= link_to 'Back', cocktails_path %>
      </div>
    </div>
  </div>
</div>


